@model ComputerWebShop.ViewModel.CartViewModel
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Empty != true) 
{ 
<div class="container" style="padding:100px">
    <div class="shopping-cart">
        <div class="column-labels">
            <label class="product-image">Image</label>
            <label class="product-details">Product</label>
            <label class="product-price">Price</label>
            <label class="product-quantity">Quantity</label>
            <label class="product-removal">Remove</label>
            <label class="product-line-price">Total</label>
        </div>
    </div>

       @Html.Partial("CartPartial")

        
    @if (Request.IsAuthenticated)
{


    <a class="checkout" href="~/Order/Checkout">Checkout</a>
}
    else
    {
        <a class="checkout" style="text" href="~/Account/Login?ReturnUrl=%2FShoppingCart%2FShowCart"> Login</a>
    }</div>
    <script>
        $(document).ready(function ()
        {
           
        });

    </script>
    <script src="~/Scripts/index.js"></script>
}
else
{
<p>Cart is empty</p>

}