@model IEnumerable<ComputerWebShop.Models.Products>


    
<div class="footer-bottom-cate">
    <h6>top Produc</h6>
    <ul>
@foreach (var item in Model)
{

      <li><a href="~/Products/Details/@item.ID">@item.ProductName</a></li>
       
}
    </ul>
</div>

<div class="footer-bottom-cate">
    <h6>TOP BRANDS</h6>
    <ul>
        @foreach (var item in Model)
        {

        <li><a href="#">@item.Brand</a></li>
        }
    </ul>
</div>
