@model IEnumerable <ComputerWebShop.Models.Products>
@foreach(var item in Model){
<div class=" chain-grid menu-chain">
    <a href="~/Products/Details/@item.ID"><img class="img-responsive chain" src="@item.PrimaryImage" alt=" " /></a>
    <div class="grid-chain-bottom chain-watch">
        <span class="actual dolor-left-grid">@item.Price</span>
        <span class="reducedfrom">@item.Price</span>
        <h6><a href="~/Products/Details/@item.ID">@item.ProductName</a></h6>
    </div>
</div>
    }