@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script type="text/javascript">
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetStudents")',
            minLength: 1
        });
    });
    </script>
    <title>TestAction</title>
</head>
<body>
    <div>
        @using (@Html.BeginForm())
        {
            <b>Name: </b>
            @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
            <input type="submit" value="Search" />
        }

    </div>
</body>
</html>
