@model ComputerWebShop.Models.ProductsComments

using (Html.BeginForm())
    {
<div class="form-group">
    @Html.LabelFor(model => model.Remarks1.Remark, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.Remarks1.Remark, new { row = "4", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Remarks1.Remark)
    </div>
    @Html.HiddenFor(model => model.MarketingCalls.ID)
    <div class="form-group">
        <div style="padding-top:10px" class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

</div>

    }

