@using ComputerWebShop.Models
@using Microsoft.AspNet.Identity
@using System.Data.Entity


@if (Request.IsAuthenticated)
{
    
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        
        
        
    @Html.AntiForgeryToken()
    
    
     <div class="header-bottom-right">
        
         @if (User.IsInRole("Admin")) { 
             <div class="account"><a href="~/Admin/Index"><span> </span>Admin Panel</a></div>
         }
         else { 
             <div class="account"><a href="~/Account/Dashboard"><span> </span>YOUR ACCOUNT</a></div>
         }
             <ul class="login">
                 <li>
                     <a href="~/Account/Manage" title="manage"> <span></span>@{Html.RenderAction("GetName", "Home");}!</a>
                 </li>
                 <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
             </ul>
             @{Html.RenderAction("Cart", "Home");}







             <div class="clearfix"> </div>
         </div>
    }
    }
    else{
        
         <div class="header-bottom-right">
                    <div class="account"><a href="~/Account/Login"><span> </span>YOUR ACCOUNT</a></div>
                    <ul class="login">
                        <li><a href="~/Account/Login">LOGIN</a></li> |
                        <li><a href="~/Account/Register">SIGNUP</a></li>
                    </ul>
             @{Html.RenderAction("Cart","Home");}


                    <div class="clearfix"> </div>
                </div>
    }